.container-benefits {
    display: flex;
    flex-direction: column;
    position: inherit;
    justify-content: center;
    grid-area: 1 / 2 / 5 / 6;
    padding-left: 4rem;
}

.header-benefits{
    height: 15rem;
    background: linear-gradient(180deg, #16857B 0%, rgba(22, 133, 123, 0.95) 48.75%, rgba(22, 133, 123, 0.75) 70.62%, rgba(98, 161, 155, 0.140553) 87.29%, rgba(196, 196, 196, 0) 100%);
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.header-benefits h1{

    font-family: 'Infra', sans-serif;
    color: var(--primarywhite);
    
}

.header-benefits li {
    display: inline;
    margin-inline: 20px;
    list-style: none;
    cursor: pointer;
    color: var(--primarywhite);
    font-size: large;
    font-weight: bold;
}

.header-benefits li:hover{
    color: var(--primaryblue);
}

.body-benefits{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.pdfImages-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pdfImages-name{
    font-size: 20px;
    font-weight: bold;
    color: var(--primaryblue);
    padding-bottom: 20px;
}

.screenCapture{
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px 3px var(--secondarygrey) ;
 }