.container-insurance {
    display: flex;
    flex-direction: column;
    position: inherit;
    justify-content: center;
    grid-area: 1 / 2 / 5 / 6;
}

.header-insurance{
    height: 15rem;
    width: 8100%;
    margin-left: 10rem;
    background-color: #16857c;
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
}

.header-insurance h1{
    color: rgb(0, 0, 0);
}

.body-insurance{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}