.container-insurance {
    display: flex;
    flex-direction: column;
    position: inherit;
    justify-content: center;
    grid-area: 1 / 2 / 3 / 6;
    
}

.header-insurance {
    height: 15rem;
   width: 100vw;
    background-color: #16857c88;
    text-align: center;
    padding-right: 2rem;
    padding-top: 2rem;
}

.header-insurance h1 {
    color: white;
}

.body-insurance {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
    background-color: violet;
}