@import url('http://fonts.cdnfonts.com/css/infra');
@import url('http://fonts.cdnfonts.com/css/nexa-bold');             

:root{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  --primaryblue: #0B1641;
  --primarygreen: #16857B;
  --primarywhite: #ffff;
  --secondarygrey: #E8E9ED;
  --secondarylightblue: #009FD7;
  font-family: 'Infra', sans-serif;
  font-family: 'Nexa', sans-serif;
}
.App {
   overflow-x:hidden;

}
.container-intranet {
  display: grid;
  grid-template-columns: auto auto auto;
}

