.container-links {
    display: flex;
    padding-top: 0%;
    background-color: khaki;
      justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: 2 / 2 / 4 / 6;
}

a{
    text-decoration: none;
}

.card-container {
    width: 15rem;
    height: 15rem;
    top:0; right: 0; left: 0; bottom: 0;
    margin: auto;
    background: url('https://i.imgur.com/Iaym2L0.jpg');
    background-color: black;
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
    transition: all .1s ease-in-out;
}

.title-box{
    width: 100%;
    height: 3rem;
    background-color: #16857cc2;
    transition: all 0.5s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.568);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
    text-align: center;
}

h2{
    font-size: 15px;
    line-height: 40px;
    padding-top: 8px;
    letter-spacing: 3px;
}

.overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(167, 156, 156, 0.726);
    color: #FEF5DF;
    opacity: 0;
    transition: all 0.3s;
    font-family: 'Playfair Display', serif;
}
  
h1 {
    font-size: 30px;
    line-height: 40px;
    padding-top: 20px;
    letter-spacing: 3px;
    transform: translateY(40px);
    transition: all 0.7s;
}
  
.overlay h1 {
    transform: translateY(0px);
}

.overlay p {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}

.card-container:hover{
    transform: scale(1.04);
    
}

.card-container:hover .overlay {
    opacity: 1;
}

.card-container:hover .title-box{
    background-color: #0b1641bd;
    opacity: 1;
    color: rgb(255, 255, 255);
}