@import url('http://fonts.cdnfonts.com/css/infra');
*{
    margin: 0;
    padding: 0;
}
.container-navbar{
    display: flex;
    grid-area: 1 / 2 / 2 / 6;
    height: 4rem;
    width: 100%;
}
.logo-navbar {
    width: 6rem;
    align-self: center;
    align-content: center;
    align-items: center;
}
.container-gradient {
    display: flex;
    background: linear-gradient(180deg, #0B1641 15.62%, #16857B 100%);
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.category {
    background: none;
    border-style: none;
    color:white;
    font-family: 'Infra', sans-serif;

}

.burgerMenu{
  display: none;
}


