@import url('http://fonts.cdnfonts.com/css/infra');
*{
    margin: 0;
    padding: 0;
}
.container-navbar{
    display: flex;
    grid-area: 1 / 1 / span 1 / span 3;
}
.container-logo{
    background-color: #16857B;
    width: 15%;
    height: 128px;
}
.logo-navbar{
    width: 60%;
    padding: 20%;
}
.container-gradient{
    display: flex;
    background: linear-gradient(180deg, #0B1641 15.62%, #16857B 100%);
    width: 85%;
    height: 128px;
    justify-content: space-around;
    align-items: center;
}
.category {
    background: none;
    border-style: none;
    color:white;
    font-family: 'Infra', sans-serif;

}

.burgerMenu{
  display: none;
}


