@import url('http://fonts.cdnfonts.com/css/infra');
@import url('http://fonts.cdnfonts.com/css/nexa-bold');
*{
    margin: 0;
    padding: 0;
}
.container-navbar{
    display: flex;
    grid-area: 1 / 2 / 2 / 6;
    height: 4rem;
    width: 100%;
    position: fixed;
    padding-left: 10rem;
    z-index: 1;
}
.logo-navbar {
    width: 6rem;
    align-self: center;
    align-content: center;
    align-items: center;
}
.container-gradient {
    display: flex;
    background: linear-gradient(180deg, #0B1641 15.62%, #16857B 100%);
    width: 100%;
    justify-content:space-around;
    align-items: center;
}
.category {
    display: flex;
    align-items: center;
    background: none;
    border-style: none;
    color:white;
    font-family: 'Infra';
    height: 100%;
    cursor: pointer;
}
.input-1:focus, .input-1 {
    background: none;
    border-style: none;
    border-bottom-style:solid;
    outline: none !important;
    color: white;
}
@media only screen and (max-width:768px) {
    .category, .input-1 {
        display:none;
    }
}
.btn-bars{
    display: none;
}
@media only screen and (max-width:768px) {
    .btn-bars{
    display:block;
    top: 0;
    right: 0;
    transform: traslate (-100%, 75%);
    font-size:1.8rem;
    cursor:pointer;
    margin:10px;
    border-style: none;
    background: none;
    }
}
#category-menu {
    display:none;
    position:fixed;
    background: #E8E9ED;
    height: max-content;
    width: 100%;
    z-index: 99;
}
@media only screen and (min-width:769px) {
    #category-menu {
    display: none! important;
    }
}
.category-3{
    color:#0B1641;
    border-style: none;
    background: none;
    padding: 15px;
}
.category-3:hover{
    background-color: #0B1641;
    color: white;
    width: 100%;
    text-align: left;
}
.btn-close {
    border-style: none;
    background: none;
}
.input-2:focus, .input-2{
    border-style: none;
    border-bottom-style:solid;
    background: none;
    margin: 1rem;
    outline: none !important;
    color: #0B1641;
}


