.container-profile {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 5 / 6;
}

.header-profile {
    height: 15rem;
    width: 100%;
    background: linear-gradient(180deg, #16857B 0%, rgba(22, 133, 123, 0.95) 48.75%, rgba(22, 133, 123, 0.75) 70.62%, rgba(98, 161, 155, 0.140553) 87.29%, rgba(196, 196, 196, 0) 100%);
    text-align: center;
}

.header-profile h1 {
    text-align: center;
    padding-top: 2rem;
    margin-top: 6rem;
    font-family: 'Nexa';
    color: white;

}

.body-profile {
    grid-area: 2 / 3 / 5 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    align-items: center;

}

.profile-shadow {
    -webkit-box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.27);
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 2rem;



}

label {
    margin-top: 0.5rem;
}

.input-profile {

    padding: 0.5rem;
    border-color: #16857B;
    border-radius: 0.5rem;
    color: #16857B;
}

#t-shirt {
    margin-top: 2rem;
    background-color: white;
    border-color: #16857B;
    border-radius: 0.5rem;

}

.profile-img {
    width: 8rem;
margin-left: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;

}

.profile-button {
    appearance: none;
    width: 30%;
    align-self: center;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #16857B;
    color: white;
}

.profile-button:hover {
    background-color: #0B1641;
}