.container-sidebar {
    display: flex;
    flex-direction: column;
    background: #0B1641;
    height: 100vh;
    width: 10rem;
    text-align: center;
    position: fixed;
    grid-area: 1 / 1 / 6 / 2;
}

.container-logo{
    background-color: #16857B;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
     margin-bottom: 1rem;
}

.img-container 
.img-profile {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    align-self: center;
    margin-top: 5rem;
}

.category-2,
.link-log {
    background: none;
    border-style: none;
    color: white;
    font-family: 'infra';
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.links-sidebar:hover {
    background-color: #16857B;
}
.link-log:hover{
    background-color: #16857B;
}
.link-log {
    display: flex;
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    margin-left: 1rem;
}

.log-icon2 {
    display: none;
}

@media only screen and (max-width:768px){
    .container-sidebar {
        width: 3rem;
    }
    .container-logo{
        background: linear-gradient(180deg, #0B1641 15.62%, #16857B 100%);  
    }

    .category-2, .link-log{
        font-size: 0;
    }

    .log-icon2 {
        display: block;
    }

    .img-container {
        width: 20%;
        padding-left: 0.5rem;
    }


}