.container-vacancies {
    display: flex;
    flex-direction: column;
    position: inherit;
    justify-content: center;
    grid-area: 1 / 2 / 5 / 6;
    }

.header-vacancies {
    height: 15rem;
    background: linear-gradient(180deg, #16857B 0%, rgba(22, 133, 123, 0.95) 48.75%, rgba(22, 133, 123, 0.75) 70.62%, rgba(98, 161, 155, 0.140553) 87.29%, rgba(196, 196, 196, 0) 100%);
    text-align: center;
    /* padding-left: 2rem; */
    padding-right: 2rem;
    padding-top: 2rem;
} 

.header-vacancies h1{
    font-family: 'Infra', sans-serif;
    color: var(--primarywhite);
    padding-top: 2rem;
    margin-top: 3rem;
}

.header-vacancies p{
    font-family: 'Infra', sans-serif;
    color: var(--primarywhite);
}

.redirec-btn{
    height: 3rem;
    font-size: 20px;
    background: none;
    cursor: pointer;
    color: var(--primaryblue);
    font-size: large;
    border: none;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.redirec-btn:hover{
    color: var(--secondarygrey);
}


.body-vacancies {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.top-container {
    text-align: center;
}


.top-container h4, p{
    font-family: 'Infra', sans-serif;
}

.cv-btn{
    margin-top: 0.5rem;
    height: 2rem;
    width: 10rem;
    font-family: 'Infra', sans-serif;
    font-size: 15px;
    background-color: var(--primarygreen);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.411);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.445);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.274);
    cursor: pointer;
}

.cv-btn:hover{
    background-color: var(--primaryblue);
    opacity: 1;
}

.title-container{
    padding: 5px;
    margin-top: 2rem;
    text-align: center;
}

.title-container h2{
    font-size: 17px;
    font-family: 'Infra', sans-serif;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 3.5rem;
}

.info-container{
    height: 13rem;
    width: 15rem;
    border: 1px solid rgba(0, 0, 0, 0.473);
    padding-top: 2rem;
    text-align: center;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 4px 7px 3px rgba(0, 0, 0, 0.185);
}

.info-container h4{
    font-size: 15px;
    font-family: 'Infra', sans-serif;
}

.info-container p{
    font-size: 14px;
    font-family: 'Infra', sans-serif;
    padding: 1rem;
    text-align: center;
}


@media only screen and (max-width:768px){

    .container-vacancies{
        padding-left: 1rem;
    }
     
    .header-vacancies p{
        padding-left: 1rem;
    }

    .bottom-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .info-container{
        height: 11rem;
        width: 15rem;
        border: 2px solid rgba(0, 0, 0, 0.6);
        text-align: center;
        margin:1rem;
    }
  
}