.container-vacancies {
    display: flex;
    flex-direction: column;
    position: inherit;
    justify-content: center;
    grid-area: 1 / 2 / 5 / 6;
    }

.header-vacancies {
    height: 15rem;
    background-color: #16857c;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
} 

.body-vacancies {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(159, 143, 188);
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: blueviolet;

}

.left-container {
    width: 50%;
    background-color: darkgoldenrod;
}